<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hike Buddy</title>
  <!-- tailwind css link -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
      <div id="page-title">
      <h1>
        <a href="/">Hike Buddy</a>
      </h1>
      </div>
      {{#if loggedIn}}
      <nav>
        <a href="/profile">Profile</a>
        <a href="/messages">Messages</a>
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
      </nav>
        
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made by the greatest
    </footer>
</body>
</html>