<div class="flex items-center space-x-4">
    <img class="w-10 h-10 rounded-full" src="https://www.thesprucepets.com/thmb/IYaG0ElLFoOJ26Rtp-5CpefS0Jw=/1459x1459/smart/filters:no_upscale()/twenty20_e47b3798-dd9b-40b1-91ef-1d820337966e-5aa3f798642dca00363b0df1.jpg" alt="">
    <div class="space-y-1 font-medium dark:text-white">
        <div>eap6787</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">when are we hanging out?</div>
    </div>
</div>