<div class="flex items-center space-x-4">
    <img class="w-10 h-10 rounded-full" src="{{PROFILE PIC INFO ADD LATER}}" alt="">
    <div class="space-y-1 font-medium dark:text-white">
        <div>{{username info ADD LATER}}</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">{{latest message data ADD LATER}}</div>
    </div>
</div>