<section id="homepage">
 
  <div class="flex flex-col items-center header">
   <div id="intro" class="mb-10">
   <h1 class="text-center">Hike Buddy</h1>
   {{!-- <h3 class="text-center">Your perfect hiking match is just a few clicks away</h3> --}}
  </div>
   <div class="flex flex-col mt-6">
    <button id="signup-btn" class="m-3 btn"> Sign Up</button>
    <button id="login-btn" class="m-3 btn"> Log In</button>
   </div>
   </div>
 
</section>
<script src="/javascript/homepage.js"></script>