
	<div class="bg-white w-full lg:w-1/3 mx-auto rounded-lg lg:my-20 px-4 py-4 shadow-lg">
		<input id="usernameInput" type='text' placeholder="Username"
            class="w-full mb-3 px-4 py-3 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
		<input id="passwordInput" type='text' placeholder="Password"
            class="w-full mb-3 px-4 py-3 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
		<button id="loginButton" class="text-white py-3 rounded-lg w-full font-bold text-xl tracking-wider bg-blue-500 hover:bg-blue-600">Log In</button>
		<hr class="">
		<div class="flex justify-center my-6">
			<button id="signup-btn" class="text-white h-12 items-center text-center rounded px-6 font-bold hover:bg-emerald-600 bg-emerald-500 ">Create
                new Account </button>
		</div>
	</div>
  <script src="/javascript/login.js"></script>