<section>

    <header>
      <h1>Profile Page</h1>
    </header>

    <div id="profile-picture">
     <img src="./test-images/external-content.duckduckgo.com.jpg">
    </div>
    <div id="preferences">
     Test preferences
    </div>
    <div id="about">
     About section
    </div>

</section> 