<form>
    <div id="signup-form">

        <div class="input">
            <label class="input-name" for="first-name-signup">First name</label>
            <input type="text" placeholder="Text" id="first-name-signup"
                class=" input-box mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm border-gray-300 rounded-md leading-6" />
        </div>

        <div class="input">
            <label class="input-name" for="last-name-signup">Last Name</label>
            <input type="text" placeholder="Text" id="last-name-signup"
                class="input-box mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm border-gray-300 rounded-md leading-6" />
        </div>
        <div class="input">
            <label class="input-name" for="password-signup">Username</label>
            <input type="password" placeholder="Text" id="username"
                class="input-box mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm border-gray-300 rounded-md leading-6" />
        </div>
        <div class="input">
            <label class="input-name" for="email-signup">Email</label>
            <input type="text" placeholder="Text" id="email-signup"
                class="input-box mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm border-gray-300 rounded-md leading-6" />
        </div>
        <div class="input">
            <label class="input-name" for="password-signup">Password</label>
            <input type="password" placeholder="Text" id="password-signup"
                class="input-box mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm border-gray-300 rounded-md leading-6" />
        </div>
    </div>

    <div id="signup-btn">
        <button
            class="signup-btn w-full tracking-wider py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white hover:bg-emerald-600 bg-emerald-500"
            type="submit">Signup & Navigate to Login</button>
    </div>
</form>
<script src="/javascript/signup.js"></script>