@tailwind base;
@tailwind components;
@tailwind utilities;

/* Survey.handlebars styles start */
#survey {
 border: 0.1vw solid black;
}

.dropdown{
 padding: 1vw;
 border-radius: 1vw;
}

.dropdown:hover{
 background-color: #dce5fa;
 cursor: pointer;
}
/* survey.handlebars styles end */


/* homepage.handlebars styles start */
#homepage {
 background-image: url('../images/Hike-Buddy-HP.jpeg');
 background-size: cover;
 display: flex;
 justify-content: center;
 background-attachment: fixed;
 height: 100vh;
}

.header {
 align-items: center;
 justify-content: center;
}

.header h1 {
 color: white;
 font-size: 8vw;
 text-shadow: -0.14vw 0.14vw 0 black,
   0.14vw 0.14vw 0 black,
  0.14vw -0.14vw 0 black,
  -0.14vw -0.14vw 0 black;
 margin-bottom: 4vh;
}

.header h3 {
 color: white;
 font-size: 3vw;
 text-shadow: -0.09vw 0.09vw 0 black,
 0.09vw 0.09vw 0 black,
0.09vw -0.09vw 0 black,
-0.09vw -0.09vw 0 black;
}

#intro {
 border-bottom: 0.2vw solid black;
}

.btn {
 width: 35vw;
 padding: 1vw;
 border-radius: 1vw;
 box-shadow: 0 0 1vw white;
 border: 0.2vw solid white;
 background-color: rgba(5, 166, 2, 0.4);
 color: white;
 font-size: 2vw;
 text-shadow: -0.05vw 0.05vw 0 black,
   0.05vw 0.05vw 0 black,
  0.05vw -0.05vw 0 black,
  -0.05vw -0.05vw 0 black;
}

#login-btn {
  font-size: 2.4vw;
}

.btn:hover {
 background-color: rgba(5, 184, 1, 0.8);
 cursor: pointer
}
/* homepage.handlebars styles end */

/* signup.handlebars styles start */
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4vw;
}

.input {
  font-size: 3vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
}

.input-name {
  display: flex;
  justify-content: center;
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0.5vw;
  margin-left: 2vw;
  border: 0.1vw solid black;
  font-size: 3vw;
  padding: 1.5vw;
  color: black;
}

#signup-btn {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  
}
/* signup.handlebars styles end */

/* profile picture avatar formatting */
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border-color: black;
}