@tailwind base;
@tailwind components;
@tailwind utilities;

/* Survey.handlebars styles start */
#survey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#survey {
 border: 0.1vw solid white;
 background-color: #025c8f;
}
#survey-header {
  text-align: center;
  border-radius: 0.2vw;
  width: 40%;
  font-size: 1.4vw;
  border: 0.1vw solid white;
  border-radius: 1vw;
}
.dropdown{
 padding: 0.6vw;
 border-radius: 0.7vw;
 background-color: white;
 color: black;
}

.dropdown:hover{
 background-color: #dce5fa;
 cursor: pointer;
}

#biography {
  color: black;
  padding: 1vw;
  height: 2vh;
}

.survey-btn {
  background-color: #10d2f2;
  color: black;
}

.survey-btn:hover {
  cursor: pointer;
  background-color: #10aaf2;
}
/* survey.handlebars styles end */


/* homepage.handlebars styles start */
#homepage {
 background-image: url('../images/Hike-Buddy-HP.jpeg');
 background-size: cover;
 display: flex;
 justify-content: center;
 background-attachment: fixed;
 height: 100vh;
}

.header {
 align-items: center;
 justify-content: center;
}

.header h1 {
 color: #2B0600;
 font-size: 8vw;
 text-shadow: -0.14vw 0.14vw 0 bisque,
   0.14vw 0.14vw 0 bisque,
  0.14vw -0.14vw 0 bisque,
  -0.14vw -0.14vw 0 bisque;
 margin-bottom: 4vh;
}

.header h3 {
 color: #2B0600;
 font-size: 3vw;
 text-shadow: -0.05vw 0.05vw 0 bisque,
 0.05vw 0.05vw 0 bisque,
0.05vw -0.05vw 0 bisque,
-0.05vw -0.05vw 0 bisque;
}

/* #intro {
 border-bottom: 0.2vw solid black;
} */

.btn {
 width: 35vw;
 padding: 1vw;
 border-radius: 1vw;
 box-shadow: 0 0 1vw white;
 border: 0.2vw solid white;
 background-color: #373100;
 opacity: .70;
 color: white;
 font-size: 2vw;
 text-shadow: -0.05vw 0.05vw 0 black,
   0.05vw 0.05vw 0 black,
  0.05vw -0.05vw 0 black,
  -0.05vw -0.05vw 0 black;
}

#login-btn {
  font-size: 2vw;
}

.btn:hover {
 background-color: #6D6D24;
 cursor: pointer;
}

.textDecoration {
  text-decoration: none;
}
/* homepage.handlebars styles end */



/* profile start */
.name {
  margin-left: -.5em;
}

/* profile picture avatar formatting */
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border-color: black;
}

/*Styling for feed*/
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 20vw;
  height: 20vw;
  border: 0.1vw solid white;
  
  border-radius: 2vw;
} */